.actions {
  z-index: 2;
  background: var(--color-white);
  position: sticky;
  top: 0;
  padding: var(--space-xs);
  margin-bottom: var(--space-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}