.wrapper {
  background: var(--color-white);
  padding: var(--space-sm) var(--space-md);
  margin-top: var(--space-sm);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-1);
  border-radius: 2px;
  border-left: 3px solid var(--color-primary-500);
  text-decoration: none;
}

.wrapper:first-child {
  margin-top: 0;
}