.wrapper {
  display: flex;
  /* flex-direction: column; */
  background: var(--color-white);
  padding: var(--space-xs) var(--space-sm);
  position: relative;

  border-left: 4px solid var(--color-primary-500);
  border-radius: 2px;
  box-shadow: var(--shadow-1);

  list-style: none;
  margin-top: var(--space-sm);

  flex-wrap: wrap;
}

.wrapper:first-child {
  margin-top: 0;
}

.topLeft {
  order: 1;
  margin-bottom: var(--space-xs);
}
.topRight {
  order: 2;
  margin-bottom: var(--space-xs);
}
.title {
  order: 3;
}
.bottomLeft {
  order: 4;
  margin-top: var(--space-xs);
}
.bottomRight {
  order: 5;
  margin-top: var(--space-xs);
}

.bottom {
  order: 3;
}

.topLeft, .bottomLeft {
  margin-right: auto;
}

.topRight, .bottomRight {
  margin-left: auto;
}

.topLeft, .bottomLeft, .topRight, .bottomRight {
  display: inline-block;
  font: var(--font-regular);
  font-size: var(--space-sm);
  color: var(--color-grey-500);
  line-height: 1;
}

.title {
  font: var(--font-regular-bold);
  font-size: var(--space-md);
  color: var(--color-grey-700);
  width: 100%;
  line-height: 1;
}


