.button {
  /* button reset */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  text-decoration: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  cursor: pointer;

  font: var(--font-regular-bold);
  transition: all 200ms;

  border-radius: 2px;
  padding: var(--space-sm) var(--space-lg);

  display: inline-flex;
  justify-content: center;
  align-items: center;

  outline: none;
  white-space: nowrap;
}


.button.block {
  display: flex;
  width: 100%;
}

.regularSize {
  padding: var(--space-sm) var(--space-lg);
}

.smallSize {
  padding: var(--space-xs) var(--space-xs);
}

.marginBottom {
  margin-bottom: var(--space-xs);
}

/* variant: solid */

.solidVariant:focus, .solidVariant:hover {
  background: var(--theme-color-700);
}

.solidVariant:active {
  background: var(--theme-color-900);
}

.solidVariant.disabled {
  cursor: not-allowed;
  background: var(--theme-color-300);
}

.solidVariant {
  color: var(--color-white);
  background: var(--theme-color-500);
}

/* variant: link */

.linkVariant:focus, .linkVariant:hover {
  color: var(--theme-color-700);
}

.linkVariant:active {
  color: var(--theme-color-900);
}

.linkVariant.disabled {
  cursor: not-allowed;
  color: var(--theme-color-300);
}

.linkVariant {
  color: var(--theme-color-500);
  display: inline;
  padding: 0 var(--space-xxs) 0 0;
}

/* variant: outline */

.outlineVariant:focus, .outlineVariant:hover {
  color: var(--theme-color-700);
  border-color: var(--theme-color-700);
}

.outlineVariant:active {
  color: var(--theme-color-900);
  border-color: var(--theme-color-900);
}

.outlineVariant.disabled {
  cursor: not-allowed;
  color: var(--theme-color-300);
  border-color: var(--theme-color-300);
}

.outlineVariant {
  color: var(--theme-color-500);
  border: 2px solid var(--theme-color-500);
  padding: calc(var(--space-sm) - 2px) calc(var(--space-lg) - 2px);
}

.outlineVariant.smallSize {
  padding: calc(var(--space-xs) - 2px) calc(var(--space-xs) - 2px);
}