.h1 {
  font: var(--font-biggest-bold);
  margin-bottom: var(--space-md);
  color: var(--color-grey-600);
  line-height: 1;
}

.h2 {
  font: var(--font-bigger-bold);
  margin-bottom: var(--space-sm);
  color: var(--color-grey-600);
  line-height: 1;
}

.h3 {
  font: var(--font-regular-bold);
  margin-bottom: var(--space-xs);
  color: var(--color-grey-600);
  line-height: 1;
}

.h4 {
  font: var(--font-smaller-bold);
  margin-bottom: var(--space-xxs);
  color: var(--color-grey-600);
  line-height: 1;
}


.h5 {
  font: var(--font-smallest-bold);
  margin-bottom: var(--space-xxs);
  color: var(--color-grey-600);
  line-height: 1;
}

.noMargin {
  margin-bottom: 0;
}

.strikethroughTextDecoration {
  text-decoration: line-through;
}

.center {
  text-align: center;
}