.wrapper {
  background: var(--color-white);
  display: grid;
  grid-auto-rows: auto 1fr auto;
  grid-template-columns: auto 350px;
  grid-template-areas:
    "header sidebar"
    "main sidebar"
    "footer sidebar";

  box-shadow: var(--shadow-3);
  border-top-left-radius: var(--space-xxxs);
  margin-top: var(--space-md);
  margin-left: var(--space-md);

  grid-gap: var(--space-md);
  padding: var(--space-sm);
}

.header {
  border-top-left-radius: var(--space-xxxs);
  grid-area: header;
}
.main {
  grid-area: main;
}

.aside {
  grid-area: sidebar;
  position: relative;
  z-index: 3;
}

.footer {
  padding: var(--space-sm);
  grid-area: footer;
  font: var(--font-regular);
  font-size: var(--font-size-smallest);
  color: var(--color-grey-500);
}
