.wrapper {

  background: var(--color-white);
  box-shadow: var(--shadow-2);
  margin-left: var(--space-md);

  grid-gap: var(--space-md);
  padding: var(--space-sm);
  position: relative;
  z-index: 1;
}


.aside {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  background: var(--color-white);
  padding: var(--space-sm);
  box-shadow: var(--shadow-4);
  border-top-left-radius: var(--space-xxxs);
}

.header {
  border-top-left-radius: var(--space-xxxs);
  grid-area: header;
  display: flex;
}
.header > *:first-child {
  margin-right: var(--space-sm);
}

.main {
  grid-area: main;
}

.aside {
  grid-area: sidebar;
}

.footer {
  padding: var(--space-sm);
  grid-area: footer;
  font: var(--font-regular);
  font-size: var(--font-size-smallest);
  color: var(--color-grey-500);
}

.navigation {
  margin-top: var(--space-md);
  margin-left: var(--space-md);
  position: relative;
}
.navigation > * {
  background: var(--color-grey-100);
  border-radius: 0;
  border-top-left-radius: var(--space-xxxs);
  border-top-right-radius: var(--space-xxxs);
  padding: var(--space-sm) var(--space-lg) var(--space-xs);
  margin-right: var(--space-xxs);
  box-shadow: var(--shadow-2);
  display: inline-block;
}

.navigation > *:first-child {
  background: var(--color-white);
  position: relative;
  z-index: 2;
}

.navigation > *:first-child:after {
  position: relative;
  z-index: 2;
  background: var(--color-white);
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: calc(100% + var(--space-xxs));
  height: 8px;
}



@media (min-width: 960px) {
  .wrapper {
    display: grid;
    grid-auto-rows: auto 1fr auto;
    grid-template-columns: 100% 250px;

    grid-template-columns: auto 250px;
    grid-template-areas:
      "header header"
      "main sidebar"
      "footer sidebar";
  }

  .aside {
    box-shadow: unset;
    background: unset;
    padding: unset;
  }

}
