

.wrapper {
  background: var(--color-white);
  padding: var(--space-xxs) var(--space-sm);
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-1);
  border-radius: 2px;
  border-left: 3px solid var(--color-primary-500);
  z-index: 1;
  transition: margin-bottom 200ms;
  cursor:move;
}

.chip {
  background: var(--color-grey-300);
  color: var(--color-grey-600);
  font: var(--font-regular-bold);
  font-size: var(--font-size-smaller);
  border-radius: 2px;
  padding: var(--space-xxxs) var(--space-xxs);
  margin-left: auto;
  margin-right: var(--space-md);
}

.dragWrapper {
  padding-bottom: var(--space-xs);
  transition: padding-bottom 200ms;
}

.dragWrapper.isHovered {
  padding-bottom: var(--space-lg);
}
