:root {
  --font-big: 400 24px 'Open Sans', sans-serif;
  --font-regular: 400 18px 'Open Sans', sans-serif;
  --font-small: 400 14px 'Open Sans', sans-serif;

  --font-big-bold: 700 24px 'Open Sans', sans-serif;
  --font-regular-bold: 700 18px 'Open Sans', sans-serif;
  --font-small-bold: 700 14px 'Open Sans', sans-serif;

  --color-white: #ffffff;

  --color-primary-lightest: #D6E4FF;
  --color-primary-lighter: #84A9FF;
  --color-primary-regular: #3366FF;
  --color-primary-darker: #1939B7;
  --color-primary-darkest: #091A7A;

  --color-secondary-lightest: #F4D9FF;
  --color-secondary-lighter: #D48DFF;
  --color-secondary-regular: #A442FF;
  --color-secondary-darker: #5F21B7;
  --color-secondary-darkest: #2E0C7A;

  --color-success-lightest: #F3FED4;
  --color-success-lighter: #CFFA7F;
  --color-success-regular: #9AEF2B;
  --color-success-darker: #7ACD1F;
  --color-success-darkest: #5DAC15;

  --color-warning-lightest: #FFFCD7;
  --color-warning-lighter: #FFF587;
  --color-warning-regular: #FFEB38;
  --color-warning-darker: #DBC728;
  --color-warning-darkest: #B7A41C;

  --color-danger-lightest: #FFEFD9;
  --color-danger-lighter: #FFC18D;
  --color-danger-regular: #FF8142;
  --color-danger-darker: #DB5E30;
  --color-danger-darkest: #B74021;

  --color-grey-lightest: #F7F7F7;
  --color-grey-lighter: #CFCFCF;
  --color-grey-regular: #616161;
  --color-grey-darker: #453034;
  --color-grey-darkest: #2E121C;

  --spacing-md: 1rem;


  --shadow-1: 0 1px 3px rgba(46, 18, 28, 0.12), 0 1px 2px rgba(46, 18, 28, 0.24);
  --shadow-2: 0 3px 6px rgba(46, 18, 28, 0.16), 0 3px 6px rgba(46, 18, 28, 0.23);
  --shadow-3: 0 10px 20px rgba(46, 18, 28, 0.19), 0 6px 6px rgba(46, 18, 28, 0.23);
  --shadow-4: 0 14px 28px rgba(46, 18, 28, 0.25), 0 10px 10px rgba(46, 18, 28, 0.22);
  --shadow-5: 0 19px 38px rgba(46, 18, 28, 0.30), 0 15px 12px rgba(46, 18, 28, 0.22);
}