.form {
  display: flex;
  flex-direction: column;
}

.actions {
  order: -1;
  background: var(--color-white);
  position: sticky;
  top: 0;
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  box-shadow: var(--shadow-1);
  display: flex;
  justify-content: flex-end;
}